page-register {
    input[type=text],
    input[type=password],
    input[type=select],
    select {
       width: 75%;
       padding: 12px 20px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #D40A0A;
       border-radius: 25px;
       box-sizing: border-box;
   }
 
   input[type=submit] {
       width: 75%;
       background-color: #D40A0A;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 25px;
       cursor: pointer;
   }
 
   input[type=submit]:hover {
       background-color: #D40A0A;
   }
 
    div {
       border-radius: 5px;
        background-color: #FFFFFF;
       // padding: 20px;
        //height: 900px;
   }

   .miselect
   {
     width: 75%;
    // padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #D40A0A;
     border-radius: 25px;
     box-sizing: border-box;
   }

}
